extends ../layout

include ../includes/_paginate

block content
  .container
    form.form-inline.search-input-group(action='/questions', method='GET')
      i.fa.fa-search
      input.form-control.mr-sm-2(type='text', name='term', placeholder='Search', aria-label='Search', value=term)

    .form
      .form-row
        .form-group.col-md-10
          select#exampleFormControlSelect1.form-control
            option 접수중
            option 마감임박
            option 마감
        .form-group.col-md-2
          button.btn.btn-primary.mb-2(type='submit') 접수 검색  

    h1.main-title 
      | Contests
      if questions.total > 0
        .small Total #{questions.total} contest(s)

    if questions.total <= 0 
      .alert.alert-info No contests available yet
    else
      .questions
        each question in questions.docs
          .question
            a.title(href=`/questions/${question.id}`)= question.title
            include _question

      +paginate(questions, '/questions', query)

    
    a.btn.btn-primary(href='/questions/new') Enroll Contest
